BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
